/* 定义主题 */
/* 暗色主题 */
html[data-theme="dark"] {
  --text-color: #FFF;
  --bg1: #102128;
  --bg2: #2D5567;
}

/* 亮色主题（默认） */
:root {
  --text-color: #333;
  --bg1: #C7FFDD;
  --bg2: #FBD988;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}